<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://mnautu.sinaapp.com./staticfiles/favion.ico">

    <title>Autumn</title>
{% load staticfiles %}
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static 'eldarion-ajax.min.js' %}"></script>

  </head>

  <body>



    {% block body %} all content in body part {% endblock %}

    <div class="container">
    <hr/><br/><br/>

      <p>Powered by <a href="http://getbootstrap.com">Bootstrap</a> and <a href="https://www.djangoproject.com/">Django</a>. Feel free to start your personal blog here.</p>
      <p>Contact info: <a href="mailto:an_guan@outlook.com">an_guan@outlook.com</a>.</p>
    <br/><br/><br/><br/>
    </div>

  </body>
</html>
